<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>

     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about" id="go1">Vai 1</a></li>
                <li><a href="#contact" id="go2">Vai 2</a></li>
                  <li><a href="#contact" id="go3">Vai 3</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>




<div class="container-fluid height-full bg-dark" id="1">
      <div class="row featurette">
        <div class="col-md-7" >
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://pbs.twimg.com/profile_images/457164810052857856/cXNMHcHF.jpeg" alt="Generic placeholder image">
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
       <div class="container-fluid height-full bg-dark" id="2">
      <div class="row featurette" >
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://pbs.twimg.com/profile_images/457164810052857856/cXNMHcHF.jpeg" alt="Generic placeholder image">
        </div>
      </div>
           </div>


    <hr class="featurette-divider">
    <div class="container-fluid height-full bg-dark" id="3">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://pbs.twimg.com/profile_images/457164810052857856/cXNMHcHF.jpeg" alt="Generic placeholder image">
        </div>
      </div>
        </div>



</body>
</html>