<!DOCTYPE html>
{% extends "projs/navbar-home.html" %}

{% load staticfiles %}
<html lang="en">
<head>
    <title>Home</title>

</head>
<body>

{% block content %}

 <link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,100,300' rel='stylesheet' type='text/css'>

<div class="container-fluid height-full bg-dark" id="um">
      <div class="row featurette">
        <img src="{% static 'images/srvsr-2.png' %}" id="logo">
      </div>
    </div>


       <div class="container-fluid height-full bg-dark" id="dois">
      <div class="row featurette" >
        <div class="col-md-12">
          <center><h2 class="featurette-heading">Olá!</h2></center>
          <p class="lead">Somos uma empresa dedicada à criação de projectos informáticos. Trabalhamos em diversas áreas, desde web a projectos relacionados com Internet of things. O nosso lema é "Nada é impossivel enquanto o google existir"</p>
        </div>
      </div>
           </div>

     <<div class="container-fluid height-full bg-dark " id="cinco">
      <div class="row featurette" >
        <div class="col-md-11 col-md-push-1">
          <h2  class="featurette-heading projecto">Projectos de qualidade inegável
             <br> <span class="small">Veja você mesmo</span></h2>
            < <form action="{% url 'projs:lista_de_projectos' %}" method="post">
                 {% csrf_token %}
                <center> <input type="submit" class="btn btn-default btn-lg btn-block projs" value="Ver mais"></center>
             </form>
        </div>
      </div>
        <div class="img-right">
            <img class="animation-element" data-animation="fadeInRight" width="120%" height="120%" src="https://onsen.io/images/index/keyvisual.png">

        </div>
           </div>






    <div class="container-fluid height-full bg-dark" id="tres">
      <div class="row featurette">
        <div class="col-md-12">
          <h2  class="featurette-heading">A sua visão tornada realidade
             <br> <span class="small" id="under">Em qualquer plataforma</span></h2>

        </div>

          <center><img class="animation-element mac" data-animation="fadeInUp" width="80%" height="80%" src="http://mcleanmobile.com/Listastic/img/listasticfleet3.png"></center>

        </div>
</div>
 <div class="container-fluid bg-dark" id="quatro">

        <h1 class="quem">Quem Somos?</h1>
        <div class="somos animation-element" id="somos1" data-animation="fadeInRightBig"> <img id="img1" class="img-c"  src="{% static 'images/face.png' %}"><br><span>Gonçalo <br> CEO</span></div>
        <div class="somos animation-element" id="somos2" data-animation="fadeInRightBig"> <img id="img2" class="img-c" src="{% static 'images/face2.png' %}"><br><span>Tiago <br>CTO</span></div>
        <div class="somos animation-element" id="somos3" data-animation="fadeInRightBig"> <img id="img3" class="img-c" src="{% static 'images/face3.png' %}"><br><span>Marco<br>CFO</span></div>


    </div>
{% endblock %}



</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'js/scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animate.js' %}"></script>
</html>