.col-lg-4 {
  margin-bottom: 18px;
  text-align: center;
   animation-name: fadein;
  animation-duration:1s;
}

h2 {
  font-weight: normal;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.jumbotron{
    padding-top: 100px;
}

.col-lg-4 p {
  margin-right: 50px;
  margin-left: 50px;
}
.head h1 {
    color: blue
}


