.col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.jumbotron{
    padding-top: 100px;

}

.col-lg-4 p {
  margin-right: 50px;
  margin-left: 50px;
}
.head h1 {
    color: blue
}
